<div class="col-lg-4">
  <div class="card">
    <img src="https://resize.programme-television.ladmedia.fr/r/670,670/img/var/premiere/storage/images/tele-7-jours/news-tv/kung-fu-panda-gulli-po-un-panda-un-peu-francais-4650438/95680158-1-fre-FR/Kung-Fu-Panda-Gulli-Po-un-panda-un-peu-Francais.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p>
        <strong class="card-title" style="text-color: #2D3142;"> <%= article.title %> </strong>
      </p>

      <p>
        <strong class="card-text" style="text-color: #2D3142;"> <%= article.chapo %> </strong>
      </p>

      <p>
        <strong class="card-text" style="text-color: #2D3142;"> <%= article.body %> </strong>
      </p>
      
      <div class="d-flex justify-content-center">
      <p>
      <button type="button" class="btn l-1" style="background-color: #C9C2C5"><%= link_to "Show this article", article %></button>
      </p>
      </div>

    </div>
  </div>
</div>
