<div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" style="background-color: #C32F27;">Navbar</a>
    </div>
    </nav>
</div>


<div id="<%= dom_id article %>" class="card" style="width: 18rem; backrgound-color: #C9C2C5;">
  <div class="card-body">
    <p>
      <strong class="card-title" style="text color: #2D3142;">Title:</strong>
      <%= article.title %>
    </p>
    <p>
      <strong class="card-text" style="text color: #2D3142;">Chapo:</strong>
      <%= article.chapo %>
    </p>

    <p>
      <strong class="card-text" style="text color: #2D3142;">Body:</strong>
      <%= article.body %>
    </p>
  </div>
</div>


