<p style="color: green"><%= notice %></p>


    <div id="articles">
<div class="row"; class="justify-content-center">
  <% @articles.each do |article| %>
    <%= render article %>
      <% end %>
</div>
    </div>



<%= link_to "New article", new_article_path %>
