<p style="color: green"><%= notice %></p>


    <div id="articles">
<div class="row">
<div class="d-flex justify-content-evenly">
  <% @articles.each do |article| %>
    <%= render article %>
      <% end %>
</div>
</div>
    </div>



<button type="button" class="btn btn-lg" style="background-color: #C9C2C5"><%= link_to "New article", new_article_path %></button>


