<div class="lg-5">
  <h2 class="text-justify p-5 text-white fw-bold">FALLMS est un site générateur de posters de films. Proposez tout simplement votre titre, accroche ou chapo; et votre résumé, on se chargera du reste. FALLMS vous propose grace a Midjourney de creer vos propres affiches en indiquant le lien correspondant a l illustration.</h2>
  <h3 class="text-justify p-5 text-white fw-bold">En esperant voir votre affiche bientot sur grand ecran, commencez vos debuts de cineastes avec FALLMS.</h3>
</div>

<div class="row">
  <% @articles.each do |article| %>
    <%= render article %>
  <% end %>
</div>

<div class="d-flex justify-content-evenly">
<div class="p-5">
<%= link_to "New article", new_article_path, class:"btn btn-lg l-1", style:"background-color: #C9C2C5" %>
</div>
</div>


