<p style="color: green"><%= notice %></p>

<div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" style="background-color: #C32F27;">Navbar</a>
    </div>
    </nav>
</div>

<h1>Articles</h1>

    <div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Show this article", article %>
    </p>
      <% end %>
    </div>



<%= link_to "New article", new_article_path %>
