<div class="lg-4">
  <p class="text-justify p-5 text-white font-weight-bold">FALLMS est un site générateur de poster de films. Proposez tout simplement votre titre, accroche ou chapo; et votre résumé. En esperant voir votre affiche bientot sur grand ecran, commencez vos debuts de cineastes avec FALLMS.</p>
</div>

<div class="row">
  <% @articles.each do |article| %>
    <%= render article %>
  <% end %>
</div>

<div class="d-flex justify-content-evenly">
<div class="p-5">
<button type="button" class="btn btn-lg l-1" style="background-color: #C9C2C5"><%= link_to "New article", new_article_path %></button>
</div>
</div>


