<h1 class= "m-4 l-1">New Article</h1>

<%= render "form", article: @article %>

<br>

<div>
<button type="button" class="btn btn-lg l-1" style="background-color: #C9C2C5"><%= link_to "Back to articles", articles_path %></button>
</div>
